<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="pointExpiredJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.memberaccount.process.MemberAccountPointExpiredProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="积分过期定时任务"/>
	</bean>

	<bean id="pointExpiredTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="pointExpiredJobDetail" />
        <property name="cronExpression" value="0 0 2 * * ?" />
	</bean>
	
	<bean id="memberLevelExpiredJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.memberaccount.process.MemberLevelExpiredProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="会员等级过期定时任务"/>
	</bean>

	<bean id="memberLevelExpiredTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="memberLevelExpiredJobDetail" />
        <property name="cronExpression" value="0 0 1 * * ?" />
	</bean>
	
	<bean id="serviceApplyCompleteJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.afterSales.process.ServiceApplyCompleteProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="7天未处理的已过审售后处理单自动修改完成状态"/>
	</bean>

	<bean id="serviceApplyCompleteTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="serviceApplyCompleteJobDetail" />
        <property name="cronExpression" value="0 0 1 * * ?" />
	</bean>	

	<bean id="createCouponJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.coupon.process.CreateCouponProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="卡券生成定时任务"/>
	</bean>

	<bean id="createCouponTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="createCouponJobDetail" />
        <property name="cronExpression" value="0 */5 * * * ?" />
	</bean>
	
	<!--优惠券队列定时任务 begin-->
	<bean id="couponQueueJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.coupon.process.CouponQueueJob"></property>
		<property name="durability" value="true"/>
		<property name="description" value="优惠券队列定时任务"/>
	</bean>

	<bean id="couponQueueTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="couponQueueJobDetail" />
        <!--每 20秒 执行一次-->
         <property name="cronExpression" value="0/20 * * * * ?" />
	</bean>
	<!--优惠券队列定时任务 end-->
	
	<bean id="assembleDataModelJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.recommend.service.AssembleDataModelJob"></property>
		<property name="durability" value="true"/>
		<property name="description" value="商品推荐数据生成定时任务"/>
	</bean>
	
	
	<bean id="assembleDataModelTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="assembleDataModelJobDetail" />
        <property name="cronExpression" value="0 0 * * * ?" />
	</bean>	
		
	<bean id="findNotPayByDateDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.order.process.FindNotPayByDateProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="订单支付提醒定时任务"/>
	</bean>
	
	<bean id="findNotPayByDateTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="findNotPayByDateDetail" />
        <property name="cronExpression" value="0 0 * * * ?" />
	</bean>	
	
	<bean id="orderAwardIntegralEventCrontabDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.eventMarket.process.OrderAwardProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="事件营销订单奖励送积分"/>
	</bean>
	
	<bean id="orderAwardIntegralEventCrontabTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="orderAwardIntegralEventCrontabDetail" />
        <!--每天凌晨2点执行-->
        <property name="cronExpression" value="0 0 2 * * ?" />
	</bean>	
	
	<bean id="placeOrderGiveIntegralCrontabDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.eventMarket.process.PlaceOrderAwardProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="促销下单送积分"/>
	</bean>
	
	<bean id="placeOrderGiveIntegralCrontabTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="placeOrderGiveIntegralCrontabDetail" />
        <!--每天凌晨2点执行-->
        <property name="cronExpression" value="0 0 2 * * ?" />
	</bean>	
			
	<bean id="surfaceStockReportDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.product.process.SurfaceStockReportProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="定时分别发送三个分站首页缺货或下架的报表"/>
	</bean>
	
	<bean id="surfaceStockReportTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="surfaceStockReportDetail" />
 		<!--每天上午8点执行-->
        <property name="cronExpression" value="0 0 8 * * ?" />
	</bean>
	
	
	<bean id="orderSalesJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.order.process.OrderSalesProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="每日商品销量"/>
	</bean>

	<bean id="orderSalesTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="orderSalesJobDetail" />
        <property name="cronExpression" value="0 0 0 * * ?" />
	</bean>
		
	<!-- <bean id="automaticallyReceiveDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.order.process.AutomaticallyReceiveProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="系统逾期自动签收定时任务"/>
	</bean>
	
	<bean id="automaticallyReceiveTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="automaticallyReceiveDetail" />
 		每分钟执行
        <property name="cronExpression" value="0 * * * * ?" />
	</bean>	 -->
			
	<bean id="createOrderBillDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.orderbill.process.CreateOrderBillProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="生成销售账单定时任务"/>
	</bean>
	
	<bean id="createOrderBillTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="createOrderBillDetail" />
        <property name="cronExpression" value="0 0 2 * * ?" />
	</bean>
	
	<bean id="sendByTimeDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.infrastructure.message.process.SendByTimeProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="定时发送消息"/>
	</bean>
	
	<bean id="sendByTimeTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="sendByTimeDetail" />
        <property name="cronExpression" value="0 * * * * ?" />
	</bean>
	
 	<bean id="updateProductIndexDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.infrastructure.queue.index.process.IndexQueueProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="根据队列，更新商品索引"/>
	</bean>

	<bean id="updateProductIndexTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
 		<property name="jobDetail" ref="updateProductIndexDetail" />
        <property name="cronExpression" value="0 * * * * ?" />
	</bean>

	<bean id="RebuildOrderDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.order.process.RebuildOrderProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="重建订单定时任务"/>
	</bean>

	<bean id="RebuildOrderTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="RebuildOrderDetail" />
		<!--每分钟执行-->
		<property name="cronExpression" value="0 * * * * ?" />
	</bean>
	<!--删除浏览的历史记录  -->
	<bean id="BrowsingHistoryProcess" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.browsingHistory.process.BrowsingHistoryProcess"></property>
		<property name="durability" value="true"/>
		<property name="description" value="删除浏览的历史记录定时任务"/>
	</bean>

	<bean id="BrowsingHistoryTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BrowsingHistoryProcess" />
		<!--每分钟执行-->
		<property name="cronExpression" value="0 0 2 * * ?" />
	</bean>
	<!--订阅快递100  -->
	<bean id="express100Process" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.comall.cybershop.trade.express100Seq.process.Express100Process"></property>
		<property name="durability" value="true"/>
		<property name="description" value="订阅快递一百"/>
	</bean>

	<bean id="express100Trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="express100Process" />
		<!--每5分钟执行-->
		<property name="cronExpression" value="0 0/5 * * * ?" />
	</bean>
	<!--  总管理类如果将lazy-init='false'那么容器启动就会执行调度程序   -->
	<bean id="startQuartz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false">
		<property name="configLocation" value="classpath:quartz.properties"></property>
		<property name="jobFactory">
			<bean class="com.comall.cybershop.infrastructure.schedule.SpringBeanJobFactory" />
		</property>
 		<property name="triggers">
 			<list>
 				<!--作业调度器,list下可加入其他的调度器-->
 			</list>
		</property>
	</bean>
	
</beans>